VITE_SUPABASE_URL=https://aywxvjrbfiqqzsrzrnhb.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_T0tm58HqovW-CC59j_m1yw_G7xwISJ8
VITE_CLOUDINARY_CLOUD_NAME=dpppezwla
VITE_CLOUDINARY_UPLOAD_PRESET=profile_upload
